@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Orbitron');


body {
	height: 100%;
	background-color: black;
	background: url('../images/mainBack.png') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	margin: 0;

}

.trivia-header {
	text-align: center;
	border-bottom: none;
}

#headerImage {
	margin:10px;
	border:0;
    box-shadow:0;
    border-radius:5px;

}

#result {
	background: url('../images/backResultsInit.png');
	text-align: center;
	padding: 10px;
	height: 50px;
	width:500px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #FFFB98;
	border-bottom: none;
	border:0;
    box-shadow:0;
    border-radius:5;
}

#answers {
	text-align: center;
	height: 40px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
}


#timer {
	background: url('../images/timerBack.png');
	border-radius: 10px;
	width: 120px;
	height:95px;
	font-family: 'Open Sans', sans-serif;
	font-size: 66px;
	text-align: center;
	padding-top: 10px;
	color: #FFFB98;
}

#question {
	background: url('../images/triviaLogo.png');
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	border-radius: 10px;
	color: #FFFB98;
	text-align:center;
	width:500px;
	height:95px;
	padding: 15px;
}


button {
	height: 50px;
	width: 500px;
}

.btn {
	margin-bottom: 15px;
}

#start {
	background-image: url('../images/play.png');
	background-repeat: no-repeat;
    background-position: center center;
	height: 95px;
	width: 120px;
	border:0;
    box-shadow:0;
    border-radius:5;
}

#restart {
	background-image: url('../images/playAgain.png');
	background-repeat: no-repeat;
    background-position: center center;
	height: 95px;
	width: 120px;
	border:0;
    box-shadow:0;
    border-radius:5;
}


.displayNone {
	display: none;
}

.buttonStart {
	margin: 0 auto;
}